<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.5</string>
	<key>CFBundleDisplayName</key>
	<string>SensorData</string>
	<key>CFBundleIdentifier</key>
	<string>com.selfproject.Sensor-Data</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>SensorData</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Please Enable Face Id</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>yourdomain.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Please enable Documents Access.</string>
	<key>NSSensorKitUsageDescription</key>
	<string>Please enable Sensor Access.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Please allow Downloads Access</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Please allow File Access</string>
</dict>
</plist>
